<div class="mt-5">
    <div class="row g-2">

        <div class="col-3 bg-dark p-2 rounded text-white d-flex flex-column">
            <h5>SEARCH</h5>
            <input type="text" class="my-4" placeholder="Inserisci una città">
            <button class="btn btn-success">CERCA</button>

            <h5 class="my-3">Hotel in Milano</h5>
            <ul class="list">
                <li>Hotel ABC</li>
                <li>Hotel XYZ</li>
                <li>Hotel Rockstar</li>
                <li>Hotel Venezia</li>
            </ul>

            <h6>Risultati: 4</h6>
        </div>

        <div class="col-6 rounded text-white">
            <div class="d-flex flex-column">
                <div class="row g-2">
                    <div class="col-12 rounded bg-dark p-2">
                        <h4>Hotel ABC</h4>
                        <h6>Milano Via Marconi, 123</h6>
                    </div>
                    <div class="row mt-5">
                    <div class="col-6 rounded bg-dark p-2">
                        <img height="30px" width="30px">
                    </div>
                    <div class="col-6 rounded bg-dark p-2">
                        <h3>Icone</h3>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 rounded bg-dark p-2 text-white">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="rounded bg-dark p-2 text-center">
                        <h4>4.5</h4>
                        <p>★★★★☆</p>
                        <ul>
                            <li>Single</li>
                            <li>Double</li>
                            <li>Triple</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-12">
                    <div class="rounded bg-dark p-2 text-center">
                        <h3>Contatti</h3>
                        <form action="">
                            <div class="my-3">
                                <label for="email">La tua email</label>
                                <input type="email" id="email" class="form-control">
                            </div>
                            <div class="my-3">
                                <label for="mex">Il tuo messaggio</label>
                                <textarea id="mex" class="form-control"></textarea>
                            </div>
                            <button class="btn btn-success">Invia</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
</div>
