<!-- Navigation bar -->
<div class="mx-5">
<nav class="navbar rounded d-flex justify-content-between align-items-center p-3 text-light bg-dark" data-bs-theme="dark">
  <div>
    <a class="navbar-brand" href="#">
      BOOKING
    </a>
  </div>
    <div class="d-flex justify-content-center align-items-center">
      <a class="mx-2" routerLink="/search">
        SEARCH
      </a>
      <a class="mx-2" routerLink="/cart">
        CART {{cart.items.length}}
      </a>
      <a class="mx-2" routerLink="/login">
        LOGOUT
      </a>
    </div>
      <div>
        <a href="#">
          Federico Manna
        </a>
      </div>

</nav>
<router-outlet></router-outlet>
</div>
